{"Name":"DynamicGoogleGauge-demo on dev / zivd@il.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"zivd@il.ibm.com","Space":"dev"},"Name":"DynamicGoogleGauge-demo","Timeout":60},"Url":"http://DynamicGoogleGauge-61582f0c-c567-42ec-8177-d9c112423faa.mybluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=072a2195-3952-487b-8d0c-5f8d6d86cf00&orgGuid=505b5edf-3087-49d5-84d4-8e2e9d14d9f9&spaceGuid=ea125154-7662-49e3-b6f7-8bd8270c7207","Path":"","UrlTitle":"DynamicGoogleGauge-demo","Type":"Cloud Foundry"}